* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

ul li {
    margin: 0 5px;
}

a {
    color: #000;
    text-decoration: none;
}