.landing-page {
    min-height: 200vh;
    position: relative;
}

.landing-page header {
    position: relative;
    display: flex;
    min-height: 100vh;
    margin-bottom: 10vh;
    z-index: 0;
}

.landing-page header .overlay {
    position: relative;
    order: 2;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
}

.landing-page header .overlay .container {
    align-items: flex-start;
    justify-content: center;
}

.landing-page header .overlay .search {
    display: flex;
    align-content: center;
}

.landing-page header .overlay .search .search-btn {
    transform: translate(-22px);
}

.landing-page header .header-area {
    background-image: url("./../media/1920x1080/01.jpg");
    background-size: cover;
    min-height: 100%;
    width: 75%;
    position: relative;
}

.landing-page header .header-area .container {
    flex-direction: column;
    left: 90px;
}

.landing-page header .header-area .header-top {
    position: relative;
    top: 0;
    width: 100%;
    /* padding: 30px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.landing-page header .header-area .header-top nav {
    width: 75%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
}

.landing-page header .header-area .header-top a {
    color: white;
}

.landing-page header .header-area .header-top .logo a {
    font-size: 30px;
}

.landing-page header .header-area .header-bottom {
    width: 70%;
}

.landing-page header .header-area .header-bottom h1 {
    font-size: 55px;
    margin: 0;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.landing-page header .header-area .header-bottom p {
    width: 86%;
    line-height: 1.5;
    margin: 10px 0 35px;
    color: white;
}

.landing-page header .header-area .header-bottom .header-btn .btn {
    border: 2px solid white;
    background-color: white;
    color: #00173e;
}

.landing-page header .header-area .header-img {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(48%, 20%);
    -webkit-transform: translate(48%, 20%);
    -moz-transform: translate(48%, 20%);
    -ms-transform: translate(48%, 20%);
    -o-transform: translate(48%, 20%);
}

.landing-page header .header-area .header-img img {
    width: 100%;
    height: 100%;
}

.landing-page header .social-icons {
    position: absolute;
    bottom: 7px;
    right: 10px;
}

.landing-page header .social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.landing-page header .social-icons li img {
    width: 40px;
    height: 40px;
}

.landing-page .video {
    position: absolute;
    bottom: -74px;
    right: 23%;
    width: 151px;
    height: 151px;
    z-index: -1;
}

.landing-page header .video video {
    width: 100%;
    height: 100%;
}

.landing-page aside {
    width: 100%;
    margin-bottom: 4vh;
}

.landing-page section {
    position: relative;
}

.landing-page section .video {
    position: absolute;
    top: -37px;
    left: 14px;
    width: 151px;
    height: 151px;
    z-index: 0;
}

.landing-page section .video video {
    width: 100%;
    height: 100%;
}

.landing-page aside .aside-img img {
    width: 100%;
}

.landing-page section .container {
    width: 86%;
    left: 90px;
    display: flex;
    flex-direction: column;
}

.landing-page section .container .row {
    margin-bottom: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landing-page section .container .row>div img {
    width: 100%;
    height: 100%;
}

.landing-page section .container .row.one .col-1,
.landing-page section .container .row.two .col-1 {
    width: 40%;
    position: relative;
}

.landing-page section .container .row.one .col-1 .col-1-text {
    background-color: #00173e;
    color: white;
    position: absolute;
    bottom: -50px;
    right: -50px;
}

.landing-page section .container .row.one .col-1 .col-1-text p,
.landing-page section .container .row.two .col-1 .col-1-text p {
    width: 285px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
    font-size: 25px;
}

.landing-page section .container .row.one .col-2,
.landing-page section .container .row.two .col-2 {
    width: 45%;
}

.landing-page section .container .row.one .col-2 h2,
.landing-page section .container .row.two .col-2 h2 {
    font-size: 50px;
    margin-bottom: 5px;
}

.landing-page section .container .row.one .col-2 p,
.landing-page section .container .row.two .col-2 p {
    line-height: 1.5;
    margin-bottom: 35px;
}

.landing-page section .container .row.two .col-1 .col-1-text {
    background-color: #00173e;
    color: white;
    position: absolute;
    bottom: -50px;
    left: -50px;
}

.landing-page section .container .row .col-1 .col-1-text p span:last-child {
    font-size: 14px;
}

.landing-page section .container .row .col-1 .col-1-text p span {
    padding-bottom: 5px;
}

.landing-page section .container .row.three {
    gap: 15px;
}

.landing-page section .container .row.three>div>div:last-child {
    padding: 2px;
}

.landing-page section .container .row.three>div>div:last-child h2 {
    text-transform: capitalize;
    padding: 10px 0;
}

.landing-page section .container .row.three>div>div:last-child p {
    padding-bottom: 30px;
}

.landing-page section .container .row.three>div>div:last-child :last-child {
    background-color: white;
    color: black;
    border: none;
    padding: 0;
}

.landing-page footer {
    width: 100%;
    background-color: #00173e;
    text-transform: capitalize;
    padding: 30px 0;
    color: white;
}

.landing-page footer .container {
    flex-direction: column;
    min-height: fit-content;
    align-items: center;
}

.landing-page footer .container>div {
    width: 90%;
}

.landing-page footer .container .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.landing-page footer .container .top>div h3 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.landing-page footer .container .top>div ul {
    flex-direction: column;
}

.landing-page footer .container .top>div ul li {
    padding: 10px 0;
}

.landing-page footer .container .bottom {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 35px 0 10px;
}

.landing-page footer .container .bottom ul {
    width: 55%;
    margin-left: 80px;
}